/* body {
  width: calc(100vw - 34px);
} */

html {
  overflow-y: scroll;
}


.bg-light{
  background-color: #ffffff !important;
}


.nav-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
 width: 100%;  
}

  .navbar {
    padding: 0px;
    align-items: normal;
    min-width: 410px;
      }
  
  .navbar-brand {
    cursor: pointer;
    padding: 10px;
    font-size: x-large;
    color: #ffffff !important;
    background-color: #4aaaa5;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    height: 100%;
    justify-content: flex-start; 
    margin-bottom: 0px !important;
  } 
  
  .nav-link {
    color: #777777;
    font-size: medium;
    margin-left: 10px;
  }
    
  .nav-link:hover {
    color: #000;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  
  .navbar-collapse {
   justify-content: flex-end; 

  }

  body{    
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/herringbone.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 80px;
  }

.container {
  background-color: #ffffff;
  margin-top: 20px;
  max-width: 960px;
  padding: 30px;
  min-width: 410px;
  
}




.container-fluid{
  max-width: 960px;
  padding: 0px;
  
  }

h1{
  color:#4aaaa5;
  border-bottom: solid;
  border-color: #cccccc;

  }

  body {
    display: flex;
    flex-direction: column;
  }

.footer {
  flex-shrink: 0;
}
  
footer{
      position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #666666;
        color: #999999;
        height: 50px;
        border-top: 8px solid #4aaaa5;
        line-height: 60px;
        font-size: small;
  }


/*h3 and work set the overlay on the porfolio page*/

h3{
    background-color:#4aaaa5;
    color:#ffffff;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 20;  
    margin-top: 190px;
}

.portfolio{
  margin-top: 30px;
  
}

input[type=submit]{
  background-color: #4aaaa5;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  color:#ffffff;
  border: 1px solid #4aaaa5;
}