html {
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  margin: 0;
}

.bg-light {
  background-color: #ffffff !important;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}

.nav-wrapper {
  background-color: #ffffff;
  margin: 0 auto;
  width: 100%;
}

.navbar {
  padding: 0px;
  align-items: normal;
}

.navbar-brand {
  /* cursor: pointer; */
  padding: 10px;
  font-size: x-large;
  color: #ffffff !important;
  background-color: #4aaaa5;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  height: 100%;
  justify-content: flex-start;
  margin-bottom: 0px !important;
}

.nav-link {
  color: #777777;
  font-size: medium;
  margin-left: 10px;
}

.nav-link:hover {
  color: #000;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar-collapse {
  justify-content: flex-end;
}

body {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/herringbone.png");
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  background-color: #ffffff;
  margin-top: 20px;
  max-width: 960px;
  padding: 30px;
  }

.container-fluid {
  max-width: 960px;
  padding: 0px;
}

#portCOntainer{
  padding-bottom: 0px;
}

.outerContainer {
  margin-bottom: 20px;
}

h1 {
  color: #4aaaa5;
  border-bottom: solid;
  border-color: #cccccc;
}

footer {
  width: 100%;
  text-align: center;
  background-color: #666666;
  color: #999999;
  height: 50px;
  border-top: 8px solid #4aaaa5;
  font-size: small;
}

.push {
  height: 50px;
}

.portfolioPush {
  height: 20px;
}

/*h3  set the overlay on the porfolio page*/

h3 {
  background-color: #4aaaa5;
  color: #ffffff;
  width: 100%;
  text-align: center;
  line-height: 40px;
  position: relative;
  bottom: 50px;
}

.portfolio-header {
  margin-bottom: 30px;
}

.huge-text, 
.underline-link{
  font-size: 32px;
  text-decoration: underline;
}

.icon-linkedin{
    background-image: url(../images/icon-linkedin.png);
    /* background-image: url("http://www.rleonardi.com/image/icon-linkedin.png"); */
}

.icon-email{
  background-image: url(../images/icon-email.png);

}

.icon-GitHub{
  background-image: url(../images/icon-GitHub.png);

}
.icon {
  position: relative;
  width: 44px;
  height: 44px;
  margin-right: 8px;
  display: inline-block;
}