.bg-light{
  background-color: #ffffff !important;
}


.nav-wrapper {
  background-color: #fff;
  margin: 0 auto;
 width: 100%;  
}

  .navbar {
    padding: 0px;
    align-items: normal;
      }
  
  .navbar-brand {
    color: #fff;
    cursor: pointer;
    padding: 10px;
    font-size: x-large;
    /* height: 100%; */
    
  }
  .nav-link {
    color: #777777;
    font-size: medium;
    margin-left: 10px;
  }
    /* margin-right: 1em !important; */
  
  .nav-link:hover {
    color: #000;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  
  .navbar-brand{
    color: white !important;
      background-color: #4aaaa5;
      padding-left: 20px;
      padding-right: 20px;
      position: relative;
      /* top: 0px;
      bottom: 0px; */
      /* line-height: 45px;   */
      /* min-height: 100%; */
      height: 100%;
      justify-content: flex-start;
      /* /* flex: content; */
      /* left: 300px; */
   }

  .navbar-collapse {
   justify-content: flex-end; 
    /* position: relative;
    right: 150px; */
       /* position: absolute; */
  }

  /* .navbar-toggler { */
   /* background-color:#7777; */


  /* .nav-item{
    position: relative;
    right: 300px;
  }   */

  body{    
    background: url("https://www.toptal.com/designers/subtlepatterns/patterns/herringbone.png");
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    margin-bottom: 80px;
  }

.container {
  background-color: #fff;
  margin-top: 20px;
  max-width: 960px;
  padding: 30px;
}

.container-fluid{
  max-width: 960px;
  padding: 0px;
}

h1{
  color:#4aaaa5;
  border-bottom: solid;
  border-color: #cccccc;
  /* padding-bottom: 20px;
  margin: 30px; */
  }

  /* html, body {
    height: 100%;
  } */

  body {
    display: flex;
    flex-direction: column;
  }

.footer {
  flex-shrink: 0;
}
  
    footer{
      position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #666666;
        color: #999999;
        height: 50px;
        border-top: 8px solid #4aaaa5;
        line-height: 60px;
        /* max-height: 200px; */
        /* vertical-align: bottom; */
        /* display: table-cell; */
        font-size: small;
    /* position: fixed ; */
        /* bottom: 0px;  */
  }


/*h3 and work set the overlay on the porfolio page*/

h3{
    background-color:#4aaaa5;
    color:#ffffff;
    width: 360px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    top: 0;
    left: 0;  
    margin-top: 190px;
}

.work{
   
    position: relative; 
    display: inline-block;
    margin: 30px;    
}

